body{
    font-family: monospace;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .container1{
    display: flex;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  header, nav, main, .sidebar1, .sidebar2, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
    border-radius: 10px;
  }
  
  main {
    background-color: #000d57;
    color: #fff;
    margin-left: 10px;
    height: 48vh;
  }
  
  nav {
    background-color: #fff;
    color: #000;
    padding: 1rem;
    height: 20px;
  }
  
  .sidebar1, .sidebar2 {
    flex-basis: 10%;
    background-color: #fff;
    color: #000;
  }

  .sidebar2{
    margin-left: 10px;
  }
  
  header, footer {
    background-color: #000d57;
    color: #fff;
    padding: 1rem;
    height: 50px;
  }
  
  header, nav{
    margin-bottom: 10px;
    flex-basis: 50%;
  }
  
  footer{
    margin-top: 10px;
  }